<div class="container">
  <div class="row">
    <div class="col-md-8" id="htmlData">
      <table class="table table-bordered">
        <tr class="table-primary">
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
        <!-- <tr *ngFor="let user of USERS"> -->
        <tr >
          <td>{{user.firstname}}</td>
          <td>{{user.username}}</td>
          <td>Phone</td>
        </tr>
      </table>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
    </div>
  </div>
</div>
