<nav class="bg-white z-50 border-gray-200 dark:bg-gray-900 border border-b-2">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a routerLink="" class="flex items-center">
      <img src="../../assets/brandLogo.jpg" class="h-12 mr-3" alt="Logo" />
      <span
        class="self-center text-3xl font-semibold whitespace-nowrap dark:text-white"
        >Life Bridge</span
      >
    </a>
    <div class="flex items-center md:order-2">
      <a
        routerLink="/user-login"
        class="bg-gray-300 hover:bg-gray-400 mr-5 border block font-medium text-lg py-2 text-gray-900 rounded md:hover:bg-transparent md:hover:text-blue-700 md:px-2 md:py-1 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
        type="button"
        *ngIf="!this.authService.isUserAuthenticated()"
        >Login</a
      >
      <!-- ------------------------------------------------------------------------------------------------- -->

      <div class="dropdown">
        <button (click)="toggleDropdown()" class="dropdown-toggle">
          <img
            class="w-12 h-12 rounded-full"
            src="https://unsplash.it/500/500"
            alt="user photo"
          />
        </button>
        <div
          class="absolute -left-[100%] min-w-[150px] z-50 my-4 text-base list-none dark:bg-gray-700 dark:divide-gray-600 bg-white divide-y divide-gray-100 rounded-lg shadow"
          *ngIf="isDropdownOpen"
          id="dropdownClose"
        >
          <div class="px-4 py-3" *ngIf="this.authService.isUserAuthenticated()">
            <span class="block text-sm text-gray-900 dark:text-white">{{
              this.userUsername
            }}</span>
            <span
              class="block text-sm text-gray-500 truncate dark:text-gray-400"
              >{{ this.userEmail }}</span
            >
          </div>
          <ul class="">
            <li
              routerLink="/admin-login"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
            >
              <a>Admin Login</a>
            </li>
            <li
              *ngIf="this.authService.isUserAuthenticated()"
              (click)="logout()"
              class="block px-4 py-2 text-sm text-gray-700 hover:rounded-b-lg hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
            >
              <a>Log Out</a>
            </li>
            <li
              *ngIf="!this.authService.isUserAuthenticated()"
              routerLink="user-login"
              class="block px-4 py-2 text-sm text-gray-700 hover:rounded-b-lg hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
            >
              <a>User LogIn</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- ------------------------------------------------------------------------------------------------- -->
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="mobile-menu-2"
    >
      <ul
        class="flex flex-col font-medium text-lg p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li
          class="ml-10 font-medium text-lg p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
        >
          <button
            (click)="toPlan()"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
          >
            Premium-Calculator
          </button>
        </li>
        <li>
          <a
            routerLink="/orders"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Insurance Purchased</a
          >
        </li>
        <li>
          <a
            routerLink="/plans"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >Term Insurance Plans</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
