<app-navbar></app-navbar>
<section class="w-[75vw] absolute left-[50%] translate-x-[-50%] top-[15%]">
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3 rounded-l-lg">TimeStamp</th>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Price</th>
          <th scope="col" class="px-6 py-3">Info</th>
          <th scope="col" class="px-6 py-3 rounded-r-lg">Status</th>
        </tr>
      </thead>
      <tbody *ngFor="let user of this.quotes">
        <tr class="bg-white dark:bg-gray-800" *ngIf="user.email === this.email">
          <td class="px-6 py-4">{{user.dateOfPurchase}}</td>
          <td class="px-6 py-4">{{user.firstName}} {{user.lastName}}</td>
          <td class="px-6 py-4">{{user.annualPremium}}</td>
          <td class="p-4 mb-4 rounded-lg text-sm text-red-800 hover:bg-red-50 dark:bg-gray-800 dark:text-red-400 cursor-pointer" [routerLink]="['/details',user.id]">Details</td>
          <td class="px-6 py-4" *ngIf="user.checkStatus === 0">Pending</td>
          <td class="px-6 py-4" *ngIf="user.checkStatus === 1">Accepted</td>
          <td class="px-6 py-4" *ngIf="user.checkStatus === -1">Failure</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
