.dropdown {
  position: relative;
  display: inline-block;
}

/* .dropdown-toggle {
  background-color: #f1f1f1;
  color: black;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
} */

/* .dropdown-menu {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  list-style: none;
  margin: 0;
  padding: 0;
} */

/* .dropdown-menu li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
} */
