<app-admin-navbar></app-admin-navbar>
<section class="w-[75vw] absolute left-[50%] translate-x-[-50%] top-[15%]">
<h1 class="font-medium text-lg text-black">User Profiles</h1>
  <div class="p-4 w-[100%]">
    <div [ngClass]="adduserClicked ? 'visible' : 'invisible'" class="">
      <div
        class="max-w-full border bg-white border-gray-200 mb-5 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
        *ngFor="let user of quote"
      >
        <div class="flex justify-end px-4 pt-4"></div>
        <div class="flex flex-col pb-10 px-10">
          <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
            {{ user.firstName }} {{ user.lastName }}
          </h5>
          <span class="text-sm text-gray-500 dark:text-gray-400"
            >{{user.occupation}}</span
          >
          <div class="mt-5 flex flex-row justify-between">
            <div class="text-blue-500">
              <p class="">
                <b class="text-black">Mobile :</b> {{ user.phone }}
              </p>
              <p class="">
                <b class="text-black">Gender :</b> {{ user.gender }}
              </p>
              <p class="">
                <b class="text-black">PinCode :</b> {{ user.pinCode }}
              </p>
              <p class="">
                <b class="text-black">DOB :</b> {{ user.dateOfBirth }}
              </p>
              <p class="">
                <b class="text-black">Marital Status :</b>
                {{ user.maritalStatus }}
              </p>
            </div>
            <div class="text-blue-500">
              <p class="">
                <b class="text-black">Dependent :</b> {{ user.dependentCount }}
              </p>
              <p class="">
                <b class="text-black">Smoker :</b> {{ user.smoker }}
              </p>
              <p class="">
                <b class="text-black">Diabetes :</b> {{ user.hasDiabetes }}
              </p>
              <p class="">
                <b class="text-black">Heart Patient :</b>
                {{ user.heartPatient }}
              </p>
              <p class="">
                <b class="text-black">Existing Medical Conditions :</b>
                {{ user.hasExistingMedicalConditions }}
              </p>
            </div>
            <div class="text-blue-500">
              <p class="">
                <b class="text-black">Hazardous Occupation :</b>
                {{ user.hasHazardousOccupation }}
              </p>
              <p class="">
                <b class="text-black">Genetic Illness :</b>
                {{ user.hasFamilyHistoryOfIllness }}
              </p>
              <p class="">
                <b class="text-black">Substance Abuse :</b>
                {{ user.hasHistoryOfSubstanceAbuse }}
              </p>
              <p class="">
                <b class="text-black">Mental Illness :</b>
                {{ user.hasHistoryOfMentalIllness }}
              </p>
            </div>
          </div>
          <div class="flex mt-4 space-x-3 md:mt-6">
            <!-- <a
              (click)="navToForm()"
              class="inline-flex items-center px-4 py-1 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >Edit</a
            > -->
            <a
              id="dlt"
              (click)="deleteUser(user.id)"
              class="inline-flex items-center px-4 py-1 text-sm font-medium text-center bg-red-500 text-white border  rounded-lg hover:bg-red-600 cursor-pointer focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700"
              >Remove</a
            >
            <!-- <a
              href="#"
              class="inline-flex items-center px-4 py-1 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700"
              >Export Data</a
            > -->
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
